

	<h3>Performances Reading Club Saison 1</h3>
	<h4>À venir</h4>
	<% upcoming.forEach(function(event){ %>
		<dl class="dl-horizontal">
		  <dt><%= event.date %></dt>
		  <dd>
		  	<b><%= event.place %></b><br/>
			<%- event.title %><br/>
			<% if( event.status == "active" || event.status == "archive" ){ %>
				<b><a href="/events/<%= event._id %>/info">Infos</a></b>
			<% } %>
		  </dd>
		</dl>
	<% }) %>
	<hr/>
	<h4>Archives</h4>
	<% archives.forEach(function(event){ %>
		<dl class="dl-horizontal">
		  <dt><%= event.date %></dt>
		  <dd>
		  	<b><%= event.place %></b><br/>
			<%- event.title %><br/>
			<% if( event.status == "active" || event.status == "archive" ){ %>
<b><a href="/events/<%= event._id %>/info">Infos</a></b>
			<% } %>
		  </dd>
		</dl>
	<% }) %>


