
<ul class="breadcrumb">
	<li><a href='/events'>Pages</a> <span class="divider">/</span></li>
	<% if(page){ %><li class="active">Edit</li><% } else { %><li class='active'>New</li><% } %>
</ul>
<% if( form.messages ) { 
form.messages.forEach( function(message){ %>
	<div class="alert alert-<%= message.type %>">
		<%= message.text %>
	</div>
<% }); } %>



<form action="" method="post">
	<div class="control-group">
		<label>Name</label>
		<input type="text" name="name" disabled class="span8" value="<%= page.name %>"/>
	</div>
	<div class="control-group">
		<label>Title (français)</label>
		<input type="text" name="title" class="span8" value="<%= page.title %>"/>
	</div>
	<div class="control-group">
		<label>Content (français)</label>
		<textarea name="content" id="content_textarea" class="wysiwyg span12"><%= page.content %></textarea>
	</div>
	<div class="control-group">
		<label>Title (english)</label>
		<input type="text" name="title_en" class="span8" value="<%= page.title_en %>"/>
	</div>
	<div class="control-group">
		<label>Content (english)</label>
		<textarea name="content_en" id="content_en_textarea" class="wysiwyg span12"><%= page.content_en %></textarea>
	</div>
	<div class="form-actions">
		<div class="span12">
			<input type="submit" value="Save" class="btn">
		</div>
	</div>
</form>
